#game-view,
.loading {
  width: 900px;
  margin: 0 auto;
}

#infoContent {
  font-family: system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Lucida Grande';
  border-bottom: 1px rgb(112, 112, 112) solid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2em;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1em;
}

#share {
  color: #888;
  font-size: 0.8em;
}

#share .url {
  color: #888;
}

#timer {
  font-size: 1.5em;
  font-family: 'Courier New', monospace;
}

.cardsInHand {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.cardsInHand .cell {
  margin: 10px;
  cursor: pointer;
  width: 175px;
  height: 125px;
}

#status-line {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}

#remaining {
  width: 10em;
}

#end-turn-cont {
  width: 10em;
  text-align: right;
}

#end-turn-btn {
  border: 1px #ddd solid;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  padding: 5px;
  background: #eee;
  cursor: pointer;
}

#mode-toggle {
  text-align: right;
  margin: 0.5em 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#mode-toggle button {
  padding: 5px;
  border: 1px #ddd solid;
  background: #eee;
  cursor: pointer;
}

#mode-toggle button.gear {
  border: none;
  padding: 0;
  background-color: transparent;
  margin: 2px 8px 0;
}

#mode-toggle button.player {
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
}

#next-game-btn {
  margin-left: 10px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dark-mode .header .word {
  color: rgb(202, 202, 202);
}

.letter {
  font-size: 3em;
}

.word {
  text-align: center;
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
}

.dark-mode .letter {
  color: rgb(202, 202, 202);
}

.dark-mode .word {
  color: rgb(202, 202, 202);
}

.dark-mode .cell.revealed .word {
  color: rgb(29, 29, 29);
}

.cell.disabled {
  cursor: not-allowed !important;
}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--width));
  grid-gap: 1em;
  border-bottom: 1px rgb(112, 112, 112) solid;
  padding-bottom: 1em;
}

.board .hidden-word {
  cursor: pointer;
}

.cell {
  background: #e8e8e8;
}

.cell.revealed {
  background: #ffe8bb;
}

#remaining span {
  display: inline-block;
  padding: 3px 5px;
}

.dark-mode {
  background: rgb(33, 33, 33);
}
.dark-mode h1 {
  color: rgb(202, 202, 202);
}

.dark-mode .cell.hidden-word {
  background: rgb(65, 65, 65);
}

.dark-mode .cell .revealed {
  background: #ede2cc;
}

.dark-mode #next-game-btn,
.dark-mode #mode-toggle button {
  background: rgb(65, 65, 65);
  border: 1px #999 solid;
  color: rgb(202, 202, 202);
}
.dark-mode button.gear {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
}
.dark-mode #remaining {
  color: rgb(202, 202, 202);
}
.dark-mode #timer {
  color: rgb(202, 202, 202);
}

#game-view.full-screen {
  width: 98vw;
}
.full-screen .board {
  height: 75vh;
}
.full-screen .cell {
  font-size: 1.5vw;
}
.full-screen #status-line {
  font-size: 3vh;
  margin: 0.25em 0;
}
.full-screen #infoContent {
  justify-content: flex-end;
}
@media (width < 1000px) {
  .full-screen .cell {
    font-size: 2.5vw;
  }
}

.settings {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: white;
}

.settings h2 {
  text-align: center;
}

.close-settings {
  position: fixed;
  top: 32px;
  right: 32px;
  cursor: pointer;
}

.settings-content {
  max-width: 600px;
  width: 95vw;
  margin: 1em auto;
}

.settings h2 {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  margin: 5em 0 2em;
}

.toggle-set {
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-set .settings-desc {
  font-size: 0.8em;
  color: #555;
}

.toggle {
  display: flex;
  height: 32px;
  width: 50px;
  border-radius: 16px;
  background-color: #eee;
  cursor: pointer;
}

.switch {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  box-sizing: border-box;
  border: 1px solid #bbb;
  background-color: white;
}

.toggle.active {
  background-color: #e1f4d0;
  justify-content: flex-end;
}

.toggle-state {
  font-weight: bold;
}
